Source: powerls
Section: utils
Priority: optional
Maintainer: Mazy <you@example.com>
Build-Depends: cmake, g++, ninja-build, build-essential, debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/themazyworlds/powerls

Package: powerls
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A colorful terminal directory explorer written in C++20